<h1>Intangibly</h1>
<h4>find your magic index.html.er</h4>

<% if session[:merchant_id] %>
<% merchant = Merchant.find_by(id: session[:merchant_id]) %>
<p><%= "You are currently logged in as #{merchant.username}" %></p> 
<%# wrap in class for footer %>
<% end %>