<section>
  <h2>
    Merchant: <%= @merchant.username %>
  </h2>

  <h2>Products:</h2>
  <% if @merchant.product_ids.any? %>
    <ul>

      <% @merchant.product_ids.each do |product| %>
        <li><%= link_to Product.find(product).name, product_path(product) %></li>
      <% end %>

    </ul>
  <% else %>
    <p>There are no products for this merchant</p>
  <% end %>
</section>

<%= link_to "Back to all products", products_path %> 
<%= link_to "Back to all merchants", merchants_path %> 