
<%=form_with model: item , url: url_path, method: method_verb do |f| %>
<div class = inline>
  <%= f.label :Quantity%>
  <%= f.number_field :quantity, required: true, in: 1..@product.stock%>
</div>
<div class = inline>
  <%= f.submit action %>
</div>
<%end%>