
<%=form_with model: item , url: url_path, method: method_verb do |f| %>

  <div>
    <%= f.label :Quantity%>
    <%= f.number_field :quantity, required: true, in: 1..@product.stock %>
  </div>
  <div>
    <%= f.submit action, class: "btn btn-info sm-margin" %>
  </div>
<%end%>