
<%=form_with model: Item.new() , url: product_items_path(@product.id) do |f| %>
<div class = inline>
  <%= f.label :Quantity%>
  <%= f.number_field :quantity, required: true, in: 1..@product.stock%>
</div>
<div class = inline>
  <%= f.submit "Add To Cart" %>
</div>
<%end%>