/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

.nav-item {
    color: rgba(131, 11, 142, 0.842);
  }

.navbar-brand:hover{
  font-family: 'League Script', Helvetica, Arial, sans-serif;
  margin-right: 11px;
}

.navbar-brand {
  margin-right: 20px;
}
.nav_bar {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  padding: 20px 10px;
  margin: 0;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    color: rgb(255, 157, 255);
    border-color: rgb(255, 157, 255);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 157, 255, 0.25);
}

.categories input {
    margin-left: 20px;
}

.btn-outline-success {
    color: rgba(131, 11, 142, 0.842);
    background-color: transparent;
    background-image: none;
    border-color: rgba(131, 11, 142, 0.842);
}

.btn-outline-success:hover{
  background-color:  rgba(131, 11, 142, 0.842);
  border-color: rgba(131, 11, 142, 0.842);
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(131, 11, 142, 0.842);
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: rgba(131, 11, 142, 0.842);
  border-color: rgba(131, 11, 142, 0.295);
}

.btn-outline-success:focus, .btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem  rgba(131, 11, 142, 0.842);
}


#cart {
 margin-right: 10px;
}

.dash-link {
  margin-left: 0px;
  margin-right: 10px;
}

.log-in {
  margin-left: 15px;
  margin-right: 10px;
}

.sm-margin {
  margin-top: 1em;
}