// Place all the styles related to the Homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  // background-image: url("https://picserio.com/data/out/166/winter-scenery-wallpaper-for-desktop_3829525.jpg");
  font-family: Arial, sans-serif;
}

// possible new fonts: 
// font-family: Verdana, Geneva
.centered {
  text-align: center;
}

.bold {
  font-weight: 900;
  -webkit-text-stroke: #ff9dff 1px;
}

.pink {
  color: #ff9dff;
}

main {
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-bottom: 5vw;
}

h1 {
  font-family: 'League Script', Arial, sans-serif;
  font-weight:bold;
  font-size: 10em;
  color: rgb(198, 158, 255);
  text-align: center;
}

h2 {
  font-family: 'League Script', Arial, sans-serif;
  font-size: 70px;
  color: rgb(198, 158, 255);
  text-align: center;
  padding-top: 1em;
}

h3 {
  font-family: 'Raleway Dots', Arial, sans-serif;
  font-weight:bold;
  font-size: 2.4em;
  margin-top: 1em;
  color: rgb(255, 157, 255);
}

h4 {
  font-family: 'Raleway Dots', Arial, sans-serif;
  font-weight:bold;
  font-size: 30px;
  color:grey;
}

.bg-purple {
  background-color: lavender;
}
li {
  font-family: Arial, sans-serif, 'Arial Narrow Bold', sans-serif;
}

ul {
  font-family: 'Courier New', Courier, monospace;
  list-style-type: none;
}

a {
  color: #333;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.whitebg {
  background-color: #fff;
}

#background-image-magical {
  background-color: transparent;
}

.centered_grey_text {
  text-align: center;
  font-size: 2em;
  font-family: 'Raleway Dots', Arial, sans-serif;
  color:rgb(87, 87, 87);
}

#mainpadding {
  padding-top: 2em;
}

#tagline {
  font-family: 'Raleway Dots', Arial, sans-serif;
  font-size: 4em;
  color: rgba(131, 11, 142, 0.842);
  text-align: center;
  margin: 10px;
}


.nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.nav_bar_header ul li {
  padding: 20px 30px;
  display: block;
}

.page-btn {
  padding: 5em;
}

.centered-arial {
  font-family: Arial, sans-serif;
  
  color:rgb(87, 87, 87);
  font-size: 1.3em;
  margin: 3em;
  text-align: center;
}

.jumbotron {
  margin-top: 36px;
  padding-top: 36px;
  padding-bottom: 36px;
  display: grid;
  grid-template: 3fr / 1fr 1fr;
  grid-gap: 3vw;
}

.jumbotron form {
  display: inline;
}


