// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
    border-bottom: .1em #333333 solid;
    max-width: 200px;
    max-height: 200px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 1.5em;
    margin-left: 0;
  }



.flex-item-products {
    background-color: #e6e6fa;
    border: #333333 .1em solid;
    text-align: center;
    margin-bottom: 1em;
    margin-left: .4em;
    margin-right: .4em;
  }

  .flex-item-products p {
      margin: .3em;
  }

  img.detail {
      max-width: 40vw;
      max-height: 300px;
  }

h4 {
    margin-top: 1em;
}  

.strong {
    font-weight: bold;
}

.categories input {
//   margin-left: 20px;
  margin-right: .4em;
  margin-bottom: 1.5em;
}

.form-check.categories {
    margin-left: 0%;
}
