// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
    border: .1em #333333 solid;
    max-width: 200px;
    max-height: 200px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  img.detail {
      max-width: 40vw;
      max-height: 300px;
  }

h4 {
    margin-top: 1em;
}  



//   div.flex-item {
//       display: flex;
//       flex-flow: column wrap;
//       max-width: 25vw;
//   }

