<h2>Form for creating a new category</h2>
<%= form_with model: @category, class: "new-category" do |f| %>
  <div class= "form-row">
    <div class="form-group col-md-6">
      <%=f.label "Category name"%>
      <%=f.text_field :name, required: true, class: "form-control"%>
    </div>
  </div>
  <div>
    <%=f.submit "Create Category", class:"btn btn-primary"%>
  </div>
  <% end %>