<h2>Form for editing a product</h2>

<%= render partial: "form", locals: {

  form_class: "edit-product",
  intro_text: "Use this form to edit a product",
  action_name: "Edit product",
  # price_math: @product.price.nil? ? 0 : @product.price * 100.0 #tried making a variable in _form called price_math
} %>

