<h1>Product index, this is just a placeholder page, feel free to make any changes </h1> 

<ul>
<% @products.each do |product| %>
  <li>
    <%= link_to product.name, product_path(product.id) %>
  </li>
<% end %>
</ul>