<h2>Products</h2>

<span class="btn btn-outline-success my-2 my-sm-0"><%= link_to "Add new product", new_product_path %></span>

<section class="flex-container">

<% Product.where(active: true).each do |product| %>

  <div class="flex-item-products">
    <%= link_to image_tag(product.photo_url), product_path(product.id) %>
    <p class="strong"><%= link_to product.name, product_path(product.id) %></p>
    <p>Price: $ <%= "%.2f" % (product.price / 100.0) %></p>
  </div>
<% end %>

</section>