<h2>Form for creating a new product</h2>


<%= render partial: "form", locals: {
  form_class: "new-product",
  intro_text: "Use this form to create a new product",
  action_name: "Create product",
  # price_math: @product.price.nil? ? 0 : @product.price / 100.0 #tried making a variable in _form called price_math
} %>
